.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.button {
  display: inline-block;
  line-height: 64px;
  border: none;
  border-radius: 4px;
  padding: 0 30px;
  background-color: #1FA799;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #009588;
}

.buttonsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.title {
  font-size: 36px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.message {
  font-size: 32px;
}

.modalEnter {
  opacity: 0;
}

.modalEnterActive {
  opacity: 1;
  transition: opacity 200ms;
}

.modalExit {
  opacity: 1;
}

.modalExitActive {
  opacity: 0;
  transition: opacity 200ms;
}

